params.account = "ddp195"

profiles {
	local {
		singularity { enabled = true }
		executor {
			name = "local"
			cpus = 12 
			memory = '12 GB'
		}
	}
	slurm {
		singularity { enabled = true }
		executor {
			name = "slurm"
			queueSize = 10
			pollInterval = "5 sec"
			submitRateLimit = "10/2min"
			maxRetries = 1
			retry.delay = "5min"
			retry.maxDelay = "10min"
		}
		process {
			clusterOptions = "--account ${params.account} --time 01:00:00 --cpus-per-task 8 --mem 16G --partition ind-shared --ntasks 1 --nodes 1"
			withName:COVERAGE { 
				clusterOptions = "--account ${params.account} --time 01:00:00 --cpus-per-task 4 --mem 4G --partition ind-shared --ntasks 1 --nodes 1" 
				cpus = 4
			}
			withName:DELLY { clusterOptions = "--account ${params.account} --time 06:00:00 --cpus-per-task 2 --mem 16G --partition ind-shared --ntasks 1 --nodes 1" }
			withName:RECODE { clusterOptions = "--account ${params.account} --time 01:00:00 --cpus-per-task 1 --mem 2G --partition ind-shared --ntasks 1 --nodes 1" }
			withName:MANTA { clusterOptions = "--account ${params.account} --time 06:00:00 --cpus-per-task 12 --mem 16G --partition ind-shared --ntasks 1 --nodes 1" }
			withName:SMOOVE { clusterOptions = "--account ${params.account} --time 04:00:00 --cpus-per-task 4 --mem 16G --partition ind-shared --ntasks 1 --nodes 1" }
			withName:FILTER { clusterOptions = "--account ${params.account} --time 01:00:00 --cpus-per-task 1 --mem 2G --partition ind-shared --ntasks 1 --nodes 1" }
			withName:MERGE { clusterOptions = "--account ${params.account} --time 01:00:00 --cpus-per-task 2 --mem 4G --partition ind-shared --ntasks 1 --nodes 1" }
			withName:SORT { clusterOptions = "--account ${params.account} --time 01:00:00 --cpus-per-task 2 --mem 4G --partition ind-shared --ntasks 1 --nodes 1" }
			withName:EXPANSION_HUNTER { clusterOptions = "--account ${params.account} --time 06:00:00 --cpus-per-task 16 --mem 24G --partition ind-shared --ntasks 1 --nodes 1" 
                                 cpus = 16 
                }
		}
	}
        } 

singularity {
	autoMounts = true
    	runOptions = "--bind ${params.bind_path}"
}

process {
	errorStrategy = "ignore"
	withName:COVERAGE { container = "quay.io/biocontainers/mosdepth:0.3.3--h37c5b7d_2" }
        withName:COVERAGE_SEGDUP { container = "quay.io/biocontainers/mosdepth:0.3.3--h37c5b7d_2" }
	withName:DELLY { container = "j3guevara/delly:v1.0.3" }
	withName:RECODE { container = "quay.io/biocontainers/pysam:0.19.0--py27hc2126ed_0" }
	withName:MANTA { container = "dceoy/manta:latest" }
	withName:SMOOVE { container = "brentp/smoove:latest" }
	withName:FILTER { container = "staphb/bcftools:latest" }
	withName:MERGE { container = "mgibio/survivor-cwl:1.0.6.2" }
	withName:SORT { container = "staphb/bcftools:latest" }
        withName:EXPANSION_HUNTER { container = "j3guevara/expansion_hunter:v5.0.0_ubuntu"}
}

dag { enabled = true }
report { enabled = true }
timeline { enabled = true }
trace { enabled = true }
